*{
    margin:0 ;
    padding: 0;

}
body{
    background-image:url(img.jpg);
    background-position: center;
    background-size: 1565px;
    font-family:sans-serif;
    margin-top:40px;
}
.regform{

    width: 650px;
    background-color: rgb(0 0 0 / 59%);
    margin: auto;
    color: aliceblue;
    padding: 10px 0px 10px 1px;
    text-align: center;
    border-radius: 10px 10px 0px 0px;

}
.formule{

    background-color: rgb(0 0 0 / 79%);
    width: 650px;
    margin: auto;
}
form{
    padding: 5px;  
}
#name{
    
    height: 115px;   
}


.name{
    margin-left: 20px;
    margin-top: 5px;
    width: 125px;
    color: white;
    font-weight: 700;
}
.firstname{
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    border-radius: 6px;
    font-size: 14px; 
}
.lastname{
    position: relative;
    left: 350px;
    top: -80px;
    line-height: 40px;
    border-radius: 9px;
    font-size: 16px;
    color: #fff;
}
.firstlabel{
    position: relative ;
    color:#fff;
    text-transform: capitalize;
    font-size: 14px;
    left:203px ;
    top:-45px ; 

}
.lastlabel{
    position: relative;
    color: #ffff;
    left: 150px;
    top: -45px;
   
}
.company{

    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 400px;
    border-radius: 5px;
    padding: 0px;
    font-size: 16px;
    color: #fff;
}
.email{
    
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 400px;
    border-radius: 5px;
    padding: 0px;
    font-size: 16px;
    color: #fff;
}
.code{
  
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 100px;
    border-radius: 6px;
    padding: 5px;
    font-size: 16px;
    color: #fff;
}
.number{
  
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 190px;
    border-radius: 6px;
    padding: 5px;
    font-size: 16px;
    color: #fff;
}
.area-code{

    position: relative;
    color: seashell;
    text-transform: capitalize;
    font-size: 16px;
    left: 85px;
    top: 2px;

}
.phone-number{
    position: relative;
    color: seashell;
    text-transform: capitalize;
    font-size: 16px;
    left: -5px;
    top: 5px;
}
.option{
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 430px;
    height: 40px;
    border-radius: 6px;
    padding: 5px;
    font-size: 16px;
    color: #050303;
    outline: hidden ;
}
#coustomer{

    margin-left: 25px;
    color:white;
    font-size: 18px;
}
.radio{
    display: inline-block;
    padding-right: 70px;
    font-size: 15px;
    margin-left: 25px;
    margin-top: 15px;
    color: white;

}
.radio input{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
}
button{

    background-color:#3BAF9F;
    display: block;
    margin:20px 0px 0px 20px;
    text-align:center;
    border-radius:12px;
    border:2px solid #3BAF9F;
    padding: 14px 110px;
    outline: none;
    color:white;
    cursor: pointer ;
    transition:0.25px;
}
button:hover{
    background-color:#3BAF9F;
}